<div class="card card-4 d-flex justify-content-between">
  <div class="card-body">
    <h2 class="title">Registro de Aluno</h2>
    <form [formGroup]="meuForm" (submit)="onSubmit()">

      <div class="row row-space">
        <div class="col-2">
          <div class="input-group">
            <label class="label">Nome</label>
            <input class="input--style-4" type="text" formControlName="nome">
          </div>
          <app-mensagem [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher nome'"></app-mensagem>
        </div>
      </div>

      <div class="row row-space">
        <div class="col-4" style="margin-right: 15%;">
          <div class="input-group">
            <label class="label">Matricula</label>
            <input class="input--style-4" type="text" formControlName="matricula">
          </div>
          <app-mensagem [controles]="meuForm.controls['matricula']" [mensagem]="'Erro ao preencher matricula'"></app-mensagem>
        </div>
        <div class="col-4">
          <div class="input-group">
            <label class="label">Turma</label>
            <input class="input--style-4" type="text" formControlName="turma">
          </div>
          <app-mensagem [controles]="meuForm.controls['turma']" [mensagem]="'Erro ao preencher turma'"></app-mensagem>
        </div>

      </div>

      <div class="row row-space">
        <div class="col-2">
          <div class="input-group">
            <label class="label">Disciplina</label>
            <input class="input--style-4" type="text" formControlName="disciplina">
          </div>
          <app-mensagem [controles]="meuForm.controls['disciplina']" [mensagem]="'Erro ao preencher disciplina'"></app-mensagem>
        </div>

      </div>
      <div class="p-t-15">
        <button class="btn btn-primary mt-2" type="submit">Enviar</button>
      </div>

    </form>
  </div>
  </div>
