<div class="card-group">
  <div class="card">
    <img class="card-img-top"  src="../../assets/img/computer.svg" alt="computer">
    <div class="card-body">

      <p class="card-text">A Escolar Brasil + é a solução completa
        para avançar na área de Tecnologia onde terá do básico ao avançado, tudo em um só lugar</p>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img1-top" src="../../assets/img/cellphone.svg" alt="cellphone">
    <div class="card-body">
      <p class="card-text">A escola Brasil + esta na sua mão.</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../assets/img/light_bulb.svg" alt="light">
    <div class="card-body">
      <p class="card-text">Descopilando sua vida em Tecnologia.</p>

    </div>
  </div>
</div>

<div class="card mt-2 mb-2">
  <div class="card-body">
    <img class="card-img-right" src="../../assets/img/mat.png" alt="matricula">
    <div class="card-body">
      <p class="card-text">Turmas a cada 6 meses, e a escola ajuda na incressão ao mercado de trabalho.</p>
    <p class="card-text">Evite filas na escola em época de matrícula, faça tudo online através do nosso sistema e ganhe tempo e praticidade.</p>
    </div>
  </div>
  <div>
