.card-img1-top{
  width: 45%;
  display: block;
  margin: 0px auto;

}
.card-img-top{
  width: 60%;
  display: block;
  margin: 0px auto;
}
.card{
 padding-top: 5%;
 margin-right: 2%;
 margin-left: 2%;
}
