.card-body{
  -webkit-padding-start: 10px;
}

.input--style-4{
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin: 10px 5px;
}

.card-4{
  display: flex;
  background: rgb(240, 235, 235);
  border-radius: 15px;
  padding: 12px;
  height: 370px;
  width: 600px;
  margin-left: 450px;
  margin-top: 50px;
}
