<div class="card card-4 d-flex justify-content-between">
  <div class="card-body">
    <h2 class="title">Registro de Disciplina</h2>
    <form [formGroup]="meuForm" (submit)="onSubmit()">

      <div class="row row-space">
        <div class="col-2">
          <div class="input-group">
            <label class="label">Nome</label>
            <input class="input--style-4" type="text" formControlName="nome">
          </div>
          <app-mensagem [controles]="meuForm.controls['nome']" [mensagem]="'Erro ao preencher nome'"></app-mensagem>
        </div>
      </div>

      <div class="p-t-15">
        <button class="btn btn-primary mt-2" type="submit">Enviar</button>
      </div>

    </form>
  </div>
  </div>
